.accordion-item {
    width: 100%;
    max-width: 1008px;
    margin: 0 auto;
  }
  .accordion_wrapper {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
  h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 56px;
    margin-top: 80px;
    margin-bottom: 41px;
    text-align: center;
    color: #191C1F;
  }
  
  .accordion {
    padding-bottom: 80px;
  }
  
  .accordion-item {
    border-bottom: 1px solid #ECEFF2;
  }
  
  .accordion-content p {
    color: #5E646A;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
  }
  
  .accordion-button {
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    padding: 24px 0;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .accordion-button:hover {
    color: #2A6CEA;
  }
  
  .accordion-button:hover .icon {
    color: #2A6CEA;
  }
  
  .accordion-button:hover .icon {
    border-color: #2A6CEA; 
  }
  
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
  
  .accordion-content.open {
    max-height: 200px; 
  }
  
  .accordion-content p {
    padding-bottom: 24px;
  }
  
  .icon {
    transition: transform 0.3s, color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 20px; 
    padding-bottom: 4px;
    padding-right: 1px;
  }
  
  .icon.open {
    transform: rotate(45deg);
  }
  
  @media (max-width: 768px) {
    h1 {
      font-size: 32px;
      line-height: 40px;
    }
  
    .accordion-button {
      font-size: 16px;
      padding: 20px 0;
    }
  
    .accordion-content p {
      font-size: 16px;
      line-height: 28px;
    }
  }
  
  @media (max-width: 480px) {
    h1 {
      font-size: 28px;
      line-height: 36px;
    }
  
    .accordion-button {
      font-size: 14px;
      padding: 16px 0;
    }
  
    .accordion-content p {
      font-size: 14px;
      line-height: 24px;
    }
  }
  
  @media (max-width: 320px) {
    h1 {
      font-size: 24px;
      line-height: 32px;
    }
  
    .accordion-button {
      font-size: 12px;
      padding: 12px 0;
    }
  
    .accordion-content p {
      font-size: 12px;
      line-height: 20px;
    }
  }