.sil {
    padding-top: 28px;
    margin-bottom: 28px;
    text-align: center;
    border-top: 1px solid #ECEFF2;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #191C1F;
}